#Server configuration
APP_ENV=development
DEBUG=True
PORT=8000
HOST=0.0.0.0

# SQLite file location 
SQLITE_DB_PATH=./data/transactions.db

# ChromaDB 
CHROMA_DB_PATH=./data/chroma_db

# GNN Model path
MODEL_PATH=./models/gnn_checkpoint.pt

USE_CUDA=0

# Security
JWT_SECRET_KEY=your_secret_key_here
GITHUB_CLIENT_ID=your_id_here
GITHUB_CLIENT_SECRET=your_secret_here
LOG_LEVEL=INFO